<footer>
    <style>
        .footer-links {
            margin-right: 20px; /* Adjust the value as needed */
        }
    </style>

    {% if site.unity_link %}
    <a href="https://assetstore.unity.com/publishers/{{ site.unity_link }}" title="Unity" class="footer-links">
        {% if page.url == '/' %}
            <img src="{{ site.baseurl }}/assets/img/logos/U_ProfileIcon_Alpha_Negative_Cropped-28x28.png" alt="Unity" />
        {% else %}
            <img src="{{ site.baseurl }}/assets/img/logos/U_ProfileIcon_Alpha_Positive_Cropped-28x28.png" alt="Unity" />
        {% endif %}
    </a>
    {% endif %}
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="Github" class="footer-links">
          <!--<svg><use xlink:href="#icon-github"></use></svg>-->
            {% if page.url == '/' %}
                <img src="{{ site.baseurl }}/assets/img/logos/github-mark-white-29x28.png" alt="Github" />
            {% else %}
                <img src="{{ site.baseurl }}/assets/img/logos/github-mark-28x28.png" alt="Github" />
            {% endif %}
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
          <svg><use xlink:href="#icon-facebook"></use></svg>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
          <svg><use xlink:href="#icon-twitter"></use></svg>
        </a>
      {% endif %}
      {% if site.medium_username %}
        <a href="https://medium.com/@{{ site.medium_username }}" title="Medium">
          <svg><use xlink:href="#icon-medium"></use></svg>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
          <svg><use xlink:href="#icon-linkedin"></use></svg>
        </a>
      {% endif %}
        {% if site.discord_link %}
        <a href="https://discord.gg/{{ site.discord_link }}" title="Discord" class="footer-links">
            {% if page.url == '/' %}
                <img src="{{ site.baseurl }}/assets/img/logos/discord-mark-white-37x28.png" alt="Discord" />
            {% else %}
                <img src="{{ site.baseurl }}/assets/img/logos/discord-mark-black-37x28.png" alt="Discord" />
            {% endif %}
        </a>
        {% endif %}
        {% if site.discord_link %}
        <a href="https://www.youtube.com/channel/{{ site.youtube_link }}" title="YouTube" class="footer-links">
            <img src="{{ site.baseurl }}/assets/img/logos/yt_icon_rgb-40x28.png" alt="YouTube" />
        </a>
        {% endif %}


    {% include links.html %}

    <p>
        <!--Based on the <span>Jekflix</span> template by <a href="https://rossener.com" target="_blank" class="creator">Thiago Rossener</a>-->
      <!--<span>Jekflix</span> was made with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by <a href="https://rossener.com" target="_blank" class="creator">Thiago Rossener</a>-->

    </p>
    <p>
        Wizcat Studios 2023
    </p>
</footer>

{% assign social_urls = '' %}
{% if site.github_username %}
    {% assign social_urls = social_urls | append: '"https://github.com/' | append: site.github_username | append: '",' %}
{% endif %}
{% if site.facebook_username %}
    {% assign social_urls = social_urls | append: '"https://www.facebook.com/' | append: site.facebook_username | append: '",' %}
{% endif %}
{% if site.twitter_username %}
    {% assign social_urls = social_urls | append: '"https://twitter.com/' | append: site.twitter_username | append: '",' %}
{% endif %}
{% if site.medium_username %}
    {% assign social_urls = social_urls | append: '"https://medium.com/@' | append: site.medium_username | append: '",' %}
{% endif %}
{% if site.instagram_username %}
    {% assign social_urls = social_urls | append: '"https://www.instagram.com/' | append: site.instagram_username | append: '",' %}
{% endif %}
{% if site.linkedin_username %}
    {% assign social_urls = social_urls | append: '"https://www.linkedin.com/in/' | append: site.linkedin_username | append: '",' %}
{% endif %}
{% if site.discord_link %}
    {% assign social_urls = social_urls | append: '"https://discord.gg/' | append: site.discord_link | append: '",' %}
{% endif %}
{% if site.youtube_link %}
    {% assign social_urls = social_urls | append: '"https://www.youtube.com/channel/' | append: site.youtube_link | append: '",' %}
{% endif %}
{% if site.unity_link %}
    {% assign social_urls = social_urls | append: '"https://assetstore.unity.com/publishers/' | append: site.unity_link | append: '",' %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}{{site.baseurl}}/",
  "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{site.baseurl}}/assets/img/icons/mediumtile.png",
      "width": "600",
      "height": "315"
  },
  "sameAs": [
    {{ social_urls | split: "," | join: "," }}
  ]
}
</script>

<!-- Include the script that allows Netlify CMS login -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Include the website scripts -->
<script src="{{ '/assets/js/scripts.min.js' | prepend: site.baseurl }}"></script>

<!-- Include Google Analytics script -->
{% include stats.html %}

<!-- Include extra scripts -->
{% include extra-js.html %}
